* {
  margin: 0;
  box-sizing: border-box;
}

.clock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 40vh;
  margin-left: 15vw;
  font-family: "Audiowide", cursive;
  font-size: 50px;
}

.darkModeOn {
  background-color: black;
  width: 50vw;
}

#hour {
  position: absolute;
  left: 20px;
}

#minutes {
  position: absolute;
  left: 80px;
}

.top {
  position: absolute;
  top: -100px;
  left: -100px;
}

.bottom {
  position: absolute;
  top: 10px;
  left: 145px;
}
