* {
  margin: 0;
  box-sizing: border-box;
}

.clock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 40vh;
  margin-left: 23vw;
  font-family: "Audiowide", cursive;
  font-size: 50px;
  color: white;
}

p {
  letter-spacing: 10px;
}

#hour {
  position: absolute;
  left: 180px;
  top: 25vh;
}

#past {
  position: absolute;
  top: 5vh;
}

.display {
  display: none;
}

#minutes {
  position: absolute;
  top: -140px;
  left: 100px;
}

@media only screen and (max-width: 600px) {
  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: -100px;
    right: -40px;
  }

  p {
    letter-spacing: 3px;
  }

  #past {
    position: relative;
    left: -30%;
    top: auto;
    margin: 20px;
  }

  #minutes {
    position: relative;
    left: -30%;
    top: auto;
    top: -20px;
  }
  #hour {
    position: relative;
    left: -30%;
    top: auto;
    margin: 20px;
  }
}
